/* ELEMENTS */
/* ============================================================ */
body {
    background-color: #F5EEDF;
    font-family: 'Gentium Basic', serif;
}

a {
	font-family: 'Gentium Basic', serif;
	text-decoration: none;
	cursor: pointer;
	font-size:13px;
	color: #000000;
}

#loading {
    position:absolute;
    width:100px;
    height:100px;
    margin-left: 45%;
    margin-top: 20%;
}

.title {
	font-family: 'Gentium Basic', serif;
	font-weight: 700;
	font-size: 24px;
	position: absolute;
	margin-left: 30%;
	text-align: right;
	color: #716558;
}

.subtitle {
	font-family: 'Gentium Basic', serif;
	font-weight: 500;
	font-size: 24px;
	position: absolute;
	margin-left: 30%;
	margin-top: 30px;
	text-align: right;
	color: #716558;
}

/* COMMON COMPONENTS */
/* ============================================================ */

.xAxis path {
	display: none;
}

.xAxis line {
	display: none;
	fill: none;
    stroke: #000;
}

.xAxis text {
	font-family: 'Gentium Basic', serif;
	font-weight: 500;
	font-size: 10px;
}

.visible {
	visibility: visible;
}

.hidden {
	visibility: hidden;
}

/* VIEW ELEMENTS */
/* ============================================================ */

.author-name {
	fill: #716558;
	font-family: 'Gentium Basic', serif;
	font-weight: 700;
	font-size: 24px;
}

.bezier-curve {
	fill: none;
	stroke: #ACA195;
}

.bezier-curve.highlighted {
	stroke: rgb(0,0,0);
}

.vertical-line {
	fill: none;
	stroke: #ACA195;
	stroke-width: 1px;
}

.vertical-line.highlighted {
	stroke: rgb(0,0,0);
}

.horizontal-line {
	fill: none;
	stroke: #ACA195;
	stroke-width: 1px;
}

.horizontal-line.highlighted {
	stroke: rgb(0,0,0);
}

.corresponding-person-container {
	font-family: 'Gentium Basic', serif;
	font-weight: 500;
	font-size: 11px;
}

.person-name-token {
	/*fill: rgb(168,164,155);*/
	fill: #716558;
	cursor: pointer;
}

.person-name-token.highlighted {
	fill: rgb(0,0,0);
	cursor: pointer;
}

.expansion-text {
	fill: #716558;
	font-family: 'Gentium Basic', serif;
	font-weight: 500;
	font-size: 11px;
}

.expansion-text.highlighted {
	fill: #000000;
}

.placemark {
	fill: #FFFFFF;
	stroke: #000000;
	stroke-width: 1px;
	cursor: pointer;
}

.expand-all {
	cursor: pointer;
	text-decoration: underline;
}


/* CONTAINERS */
/* ============================================================ */

.popup-container {
	font-family: 'Gentium Basic', serif;
	font-weight: 500;
	font-size: 13px;
	position: absolute;
	visibility: hidden;
	z-index: 100;
	background-image: url('img/popup.svg');
	width: 258px;
	height: 356px;
}

.popup-contents {
	padding: 20px;
}

.data-selection-container {
	font-family: 'Gentium Basic', serif;
	font-size:20px;
	font-weight: 500;
	position: absolute;
    margin-left: 0;
    top: 75px;
    color: #716558;
}

.data a {
	font-family: 'Gentium Basic', serif;
	font-size:20px;
	font-weight: 500;
	color: #716558;
}

.data.active a {
	font-family: 'Gentium Basic', serif;
	font-size:20px;
	font-weight: 700;
	color: #716558;
	text-decoration: underline;
}

.view-container {
	font-family: 'Gentium Basic', serif;
	font-size:20px;
	font-weight: 500;
	position: absolute;
    margin-left: 60%;
    top: 75px;
    color: #716558;
	
}

.view a {
	font-family: 'Gentium Basic', serif;
	font-size:20px;
	font-weight: 500;
	color: #716558;
}

.view.active a {
	font-family: 'Gentium Basic', serif;
	font-size:20px;
	font-weight: 700;
	color: #716558;
	text-decoration: underline;
}

.view {
	font-family: 'Gentium Basic', serif;
	font-size:20px;
	font-weight: 500;
	color: #716558;
}

.view.active {
	font-family: 'Gentium Basic', serif;
	font-size:20px;
	font-weight: 700;
	color: #716558;
	text-decoration: underline;
}

.order-by-container {
	position: fixed;
    padding: 10px;
    top: 20px;
    font-size:13px;
	color: #000000;
	font-family: 'Gentium Basic', serif;
}

.person-selection-container {
	font-family: 'Gentium Basic', serif;
	font-size:20px;
	font-weight: 500;
	position: absolute;
    margin-left: 30%;
    top: 75px;
	color: #716558;
	
}

.person-selection-input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-width: 1px;
	border-bottom-color: #716558;
	background-color: #F5EEDF;
	font-family: 'Gentium Basic', serif;
	font-size:18px;
	outline: none;
	color: #716558;
}

.person-selection-list {
	height: 300px;
	width: 350px;
	overflow: auto;
	background-color: #F5EEDF;
	opacity: 0.80;
}

.person-list {
	list-style-type: none;
}

.person-item {
	color: #716558;
	font-family: 'Gentium Basic', serif;
	font-size:18px;
}

.person-item:hover {
	color: #000000;
}

