/* ELEMENTS */
/* ============================================================ */
body {
    background-color: #F5EEDF;
    font-family: 'Gentium Basic', serif;
}

a {
	font-family: 'Gentium Basic', serif;
	text-decoration: none;
	cursor: pointer;
	font-size:13px;
	color: #000000;
}

#loading {
    position:absolute;
    width:100px;
    height:100px;
    margin-left: 45%;
    margin-top: 20%;
}

.header {
	position: fixed;
	width: 100%;
	height: 70px;
	opacity: 1;
	z-index: 1;
	top: 0;
	background: rgba(245,238,223,0.9);
	-webkit-box-shadow: 10px 10px 10px rgba(245,238,223,0.9);
	-moz-box-shadow: 10px 10px 10px rgba(245,238,223,0.9);
	box-shadow: 10px 10px 10px rgba(245,238,223,0.9);
}

.title {
	font-family: 'Gentium Basic', serif;
	font-weight: 700;
	font-size: 1.5vw;
	line-height: 1.5vw;
	position: absolute;
	right: 55%;
	text-align: right;
	color: #716558;
	margin-top: 5px;
	
}

.subtitle {
	font-family: 'Gentium Basic', serif;
	font-weight: 500;
	font-size: 1.5vw;
	line-height: 1.5vw;
	position: absolute;
	right: 55%;
	margin-top: 1.9vw;
	text-align: right;
	color: #716558;
}

/* COMMON COMPONENTS */
/* ============================================================ */

.xAxis path {
	display: none;
}

.xAxis line {
	display: none;
	fill: none;
    stroke: #000;
}

.xAxis text {
	font-family: 'Gentium Basic', serif;
	font-weight: 500;
	font-size: 10px;
}

.visible {
	visibility: visible;
}

.hidden {
	visibility: hidden;
}

/* VIEW ELEMENTS */
/* ============================================================ */

.letter {
	cursor: pointer;
	stroke: #F5EEDF;
	stroke-width: 1px;
	fill-opacity: 1.0;
}

.letter.opacized {
	fill-opacity: 0.2;
}

.letter-rect {
	cursor: pointer;
	fill-opacity: 1.0;
}

.letter-rect.opacized {
	fill-opacity: 0.2;
}

.author-name {
	fill: #716558;
	font-family: 'Gentium Basic', serif;
	font-weight: 700;
	font-size: 24px;
}

.bezier-curve {
	fill: none;
	stroke: #ACA195;
}

.bezier-curve.highlighted {
	stroke: rgb(0,0,0);
}

.vertical-line {
	fill: none;
	stroke: #ACA195;
	stroke-width: 1px;
}

.vertical-line.highlighted {
	stroke: rgb(0,0,0);
}

.horizontal-line {
	fill: none;
	stroke: #ACA195;
	stroke-width: 1px;
}

.horizontal-line.highlighted {
	stroke: rgb(0,0,0);
}

.corresponding-person-container {
	font-family: 'Gentium Basic', serif;
	font-weight: 500;
	font-size: 11px;
}

.person-name-token {
	/*fill: rgb(168,164,155);*/
	fill: #716558;
	cursor: pointer;
	opacity: 1.0;
}

.person-name-token.highlighted {
	fill: rgb(0,0,0);
	opacity: 1.0;
}

.person-name-token.opacized {
	fill: #716558;
	opacity: 0.2;
}

.expansion-text {
	fill: #716558;
	font-family: 'Gentium Basic', serif;
	font-weight: 500;
	font-size: 11px;
	opacity: 1.0;
}

.expansion-text.highlighted {
	fill: #000000;
	opacity: 1.0;
}

.expansion-text.opacized {
	fill: #716558;
	opacity: 0.2;
}

.placemark {
	fill: #FFFFFF;
	stroke: #000000;
	stroke-width: 1px;
	cursor: pointer;
	opacity: 1.0;
}

.placemark.opacized {
	opacity: 0.45;
}

.expand-all {
	cursor: pointer;
	text-decoration: underline;
}


/* CONTAINERS */
/* ============================================================ */

.popup-container {
	font-family: 'Gentium Basic', serif;
	font-weight: 500;
	font-size: 13px;
	position: absolute;
	visibility: hidden;
	z-index: 100;
	background-image: url('img/popup.svg');
	width: 258px;
	height: 356px;
}

.popup-contents {
	padding: 20px;
}

.data-selection-container {
	font-family: 'Gentium Basic', serif;
	font-size: 1vw;
	font-weight: 500;
	position: absolute;
    margin-left: 0;
    top: 4vw;
    color: #716558;
}

.data a {
	font-family: 'Gentium Basic', serif;
	font-size: 1vw;
	font-weight: 500;
	color: #716558;
}

.data.active a {
	font-family: 'Gentium Basic', serif;
	font-size: 1vw;
	font-weight: 700;
	color: #716558;
	text-decoration: underline;
}

.view-container {
	font-family: 'Gentium Basic', serif;
	font-size: 1vw;
	font-weight: 500;
	position: absolute;
    margin-left: 60%;
    top: 4vw;
    color: #716558;
	
}

.view a {
	font-family: 'Gentium Basic', serif;
	font-size: 1vw;
	font-weight: 500;
	color: #716558;
}

.view.active a {
	font-family: 'Gentium Basic', serif;
	font-size: 1vw;
	font-weight: 700;
	color: #716558;
	text-decoration: underline;
}

.topic span{
	font-family: 'Gentium Basic', serif;
	font-size: 1vw;
	font-weight: 500;
	cursor: pointer;
}

.topic.active span{
	font-family: 'Gentium Basic', serif;
	font-size: 1vw;
	font-weight: 700;
	color: #716558;
	text-decoration: underline;
}

.view {
	font-family: 'Gentium Basic', serif;
	font-size: 1vw;
	font-weight: 500;
	color: #716558;
}

.view.active {
	font-family: 'Gentium Basic', serif;
	font-size: 1vw;
	font-weight: 700;
	color: #716558;
	text-decoration: underline;
}

.person-selection-container {
	font-family: 'Gentium Basic', serif;
	font-size: 1vw;
	font-weight: 500;
	position: absolute;
    right: 55%;
    top: 4vw;
	color: #716558;
	text-align: right;
}

.person-selection-input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-width: 1px;
	border-bottom-color: #716558;
	background-color: transparent;
	font-family: 'Gentium Basic', serif;
	font-size:18px;
	outline: none;
	color: #716558;
	text-align: right;
	width: 200px;
}

.person-selection-list {
	height: 300px;
	width: 700px;
	overflow-y: auto;
	overflow-x: visible;
	background-color: #F5EEDF;
	opacity: 0.80;
	text-align: right;
	white-space: nowrap;
}

.person-list {
	list-style-type: none;
	padding-right: 10px;
}

.person-item {
	color: #716558;
	font-family: 'Gentium Basic', serif;
	font-size:14px;
}

.person-item:hover {
	color: #000000;
}

.topic-selection-container {
	font-family: 'Gentium Basic', serif;
	font-size: 1vw;
	font-weight: 500;
	position: absolute;
    right: 1%;
    top: 4vw;
	color: #716558;
	text-align: right;
}

.topic-selection-list {
	/*height: 700px;
	width: 700px;*/
	overflow-y: auto;
	overflow-x: visible;
	opacity: 1.0;
	text-align: right;
	white-space: nowrap;
	visibility: hidden;
}

.topic-list {
	list-style-type: none;
}

.topic-item {
	color: #716558;
	font-family: 'Gentium Basic', serif;
	font-size:14px;
	cursor: pointer;
	opacity: 1.0;
}

.topic-item.highlighted {
	opacity: 0.2;
}

.topic-item:hover {
	color: #000000;
}

.topic-bullet {
	display:block;
	float: right;
	height: 10px;
	width: 10px;
	margin-top: 8px;
	margin-left: 5px;
	opacity: 1.0;
}

.topic-bullet.highlighted {
	opacity: 0.2;
}

.order-by-container {
	font-family: 'Gentium Basic', serif;
	font-size: 1vw;
	font-weight: 500;
	position: absolute;
    /*left: 1%;*/
    top: 8vw;
	color: #716558;
	text-align: left;
}

.order-by {
	font-family: 'Gentium Basic', serif;
	font-size: 1vw;
	font-weight: 500;
	color: #716558;
	cursor: pointer;
}

.order-by.active {
	font-family: 'Gentium Basic', serif;
	font-size: 1vw;
	font-weight: 700;
	color: #716558;
	text-decoration: underline;
	cursor: pointer;
}

.order-by-selection-list {
	overflow-y: auto;
	overflow-x: visible;
	opacity: 1.0;
	text-align: left;
	white-space: nowrap;
	visibility: hidden;
	padding: 0;
}

.order-by-list {
	list-style-type: none;
	padding: 0;
}

.order-by-item a {
	color: #716558;
	font-family: 'Gentium Basic', serif;
	font-size:14px;
	cursor: pointer;
	opacity: 1.0;
}

.order-by-item.highlighted {
	opacity: 0.2;
}

.order-by-item:hover {
	color: #000000;
}






















