/* ELEMENTS */
/* ============================================================ */
body {
    background-color: #F5EEDF;
    font-family: 'Gentium Basic', serif;
}

a {
	font-family: 'Gentium Basic', serif;
	text-decoration: none;
	cursor: pointer;
	font-size:13px;
	color: #000000;
}

#loading {
    position:absolute;
    width:100px;
    height:100px;
    margin-left: 45%;
    margin-top: 20%;
}

/* COMMON COMPONENTS */
/* ============================================================ */

.xAxis path {
	display: none;
}

.xAxis line {
	display: none;
	fill: none;
    stroke: #000;
}

.xAxis text {
	font-family: 'Gentium Basic', serif;
	font-weight: 500;
	font-size: 10px;
}

.visible {
	visibility: visible;
}

.hidden {
	visibility: hidden;
}

/* VIEW ELEMENTS */
/* ============================================================ */

.author-name {
	fill: #716558;
	font-family: 'Gentium Basic', serif;
	font-weight: 700;
	font-size: 24px;
}

.bezier-curve {
	fill: none;
	stroke: #716558;
}

.bezier-curve.highlighted {
	stroke: rgb(0,0,0);
}

.vertical-line {
	fill: none;
	stroke: #716558;
	stroke-width: 1px;
}

.vertical-line.highlighted {
	stroke: rgb(0,0,0);
}

.horizontal-line {
	fill: none;
	stroke: #716558;
	stroke-width: 1px;
}

.horizontal-line.highlighted {
	stroke: rgb(0,0,0);
}

.corresponding-person-container {
	font-family: 'Gentium Basic', serif;
	font-weight: 500;
	font-size: 11px;
}

.person-name-token {
	/*fill: rgb(168,164,155);*/
	fill: #716558;
	cursor: pointer;
}

.person-name-token.highlighted {
	fill: rgb(0,0,0);
	cursor: pointer;
}

.expansion-text {
	fill: #716558;
	font-family: 'Gentium Basic', serif;
	font-weight: 500;
	font-size: 11px;
}

.expansion-text.highlighted {
	fill: #000000;
}

.placemark {
	fill: #FFFFFF;
	stroke: #000000;
	stroke-width: 1px;
	cursor: pointer;
}

.expand-all {
	cursor: pointer;
	text-decoration: underline;
}


/* CONTAINERS */
/* ============================================================ */

.data-selection-container {
	position: fixed;
    padding: 10px;
    font-size:13px;
	color: #000000;
	font-family: 'Gentium Basic', serif;
}

.view-container {
	position: fixed;
    padding: 10px;
    top: 30px;
    font-size:13px;
	color: #000000;
	font-family: 'Gentium Basic', serif;
}

.order-by-container {
	position: fixed;
    padding: 10px;
    top: 55px;
    font-size:13px;
	color: #000000;
	font-family: 'Gentium Basic', serif;
}

.person-selection-container {
	position: fixed;
    padding: 10px;
    top: 80px;
    font-size:13px;
	color: #000000;
	font-family: 'Gentium Basic', serif;
}

.person-selection-input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	background-color: #F5EEDF;
	font-family: 'Gentium Basic', serif;
	outline: none;
}

.person-selection-list {
	height: 300px;
	width: 350px;
	overflow: auto;
}

.person-list {
	list-style-type: none;
}

.person-item {
	color: #A8A49B;
}

.person-item:hover {
	color: #000000;
}

