<div class="container-fluid">
	<div class="row"> 
		<div class="col-md-10 no-padding">
			<div class="container-fluid no-padding">				
				<div class="row menu-element topic" ng-repeat="topic in topics">
					<div class="col-md-10 menu-element-text topic t{{topic.id}}" ng-mouseenter="setHighlightTopic(topic.id)" ng-mouseleave="setHighlightTopic(null)">{{topic.name}}</div>
					<div class="col-md-2 menu-bullet-container"><span class="menu-bullet topic t{{topic.id}}" style="background: {{getTopicColor(topic.id)}};"></span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row topic">
		<div class="col-md-10 menu-item topic" ng-click="displayTopicList()">{{label}}</div>
		<div class="col-md-2 menu-image topic"><img src="img/chevron_up.png" width="12px"></div>
	</div>
</div>